@tailwind base;
@tailwind components;
@tailwind utilities;

.nd-codeblock .highlighted {
    padding: 0 16px;
}

@media (prefers-color-scheme: dark) {
    .swagger-ui {
        filter: invert(88%) hue-rotate(180deg);
    }
    .swagger-ui .microlight {
        filter: invert(100%) hue-rotate(180deg);
    }
}